cabecalho{
    color:black
    font-size/ white
    tamanho:40%
}

corpo do texto{
    color:yellow
    font-size/black
    tamanho/ 40%
}

rodapé{
    color:black
    font-size/white
    tamanho/ 50%
}